* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    display: block;
    grid-template-rows: 1fr 1fr 8fr;
}

.title, .button-box {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.title {
    background-color: #7e685a;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bold;
}

.button-box {
    background-color: #E7717D;
}

#add-button {
    display: flex;
    font-weight: bold;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 7%;
    padding: 5px;
    color: whitesmoke;
}

.main {
    height: 85vh;
    width: 100vw;
    background-color: #C2CAD0;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}



.add-form {
    position: absolute;
    justify-self: center;
    bottom: 35%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: black 1px solid;
    border-radius: 25px;
    background-color: #C2B9B0;
    height: 250px;
    width: 250px;
}

.close {
    position: absolute;
    right: -8px;
    top: -8px;    
    height: 20px;
    width: 20px;
}

.input {
    display: flex;
    gap: 10px;
}

#title, #author, #pages {
    height: 20px;
    align-self: center;
}

.submit-button {
    width: 75px;
}

.cardbox {
    background: #C2B9B0;
    padding: 15px;
    border: #C2CAD0 15px solid;
    border-radius: 25px;
    
    
}

.top-card {
    display: grid;
    grid-template-columns:  9fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 10px;
}

.middle-card {
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    gap: 20px;
}

.card-button {
    display: flex;
    font-weight: bold;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    color: #E7717D;
    width: 80px;
}

.bottom-card {
    padding-top: 10px;
}